<div class="container-fluid">
    <div class="page-title-box">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <h4 class="page-title">Job Details</h4>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-right">
                    <li><a routerLink="/dashboard">Dashboard</a></li>
                    <li><i class='bx bx-chevron-right'></i></li>
                    <li><a routerLink="/jobs/all-jobs">All Jobs</a></li>
                    <li><i class='bx bx-chevron-right'></i></li>

                    <li class="breadcrumb-item">
                       Job Details</li>
                </ol>
            </div>
        </div>
        </div>
</div>

<div class="user-profile py-4">

    

    <div class="container">




      <div class="row">

        <div class="col-lg-12">
          <div class="card shadow-sm">
            <div class="card-header bg-transparent border-0">
              <h3 class="mb-0"><i class="far fa-clone pr-1"></i>Hospital Details</h3>
            </div>
            <div class="card-body pt-0">
              <table class="table table-bordered">
                <tr>
                  <th width="40%">Hospital Name</th>
                  <td width="2%">:</td>
                  <td>hospital_name</td>
                </tr>
               
                <tr>
                  <th width="30%">Hospital Type</th>
                  <td width="2%">:</td>
                  <td>hospital_type</td>
                </tr>
                <tr>
                  <th width="30%">Designation</th>
                  <td width="2%">:</td>
                  <td>designation</td>
                </tr>
                <tr>
                  <th width="30%">Department</th>
                  <td width="2%">:</td>
                  <td>department</td>
                </tr>
               
                <tr>
                    <th width="30%">District</th>
                    <td width="2%">:</td>
                    <td>district</td>
                </tr>
               
                <tr>
                    <th width="30%">City</th>
                    <td width="2%">:</td>
                    <td>city</td>
                </tr>
                <tr>
                    <th width="30%">State</th>
                    <td width="2%">:</td>
                    <td>state</td>
                </tr>
            
              </table>
            </div>
          </div>
          <div class="card shadow-sm">
            <div class="card-header bg-transparent border-0">
              <h3 class="mb-0"><i class="far fa-clone pr-1"></i>Basic Details
              </h3>
            </div>
            <div class="card-body pt-0">
              <table class="table table-bordered">
                <tr>
                  <th width="40%">Roles and Responsibilities</th>
                  <td width="2%">:</td>
                  <td>roles_and_responsibilities</td>
                </tr>
               
                <tr>
                  <th width="30%">Working Days</th>
                  <td width="2%">:</td>
                  <td>working_days</td>
                </tr>
                <tr>
                  <th width="30%">Working Hours</th>
                  <td width="2%">:</td>
                  <td>working_hours</td>
                </tr>
                <tr>
                  <th width="30%">Job Type</th>
                  <td width="2%">:</td>
                  <td>job_type</td>
                </tr>
                <tr>
                    <th width="30%">Accomodation</th>
                    <td width="2%">:</td>
                    <td>accomodation</td>
                  </tr>
                  <tr>
                    <th width="30%">Salary</th>
                    <td width="2%">:</td>
                    <td>salary</td>
                  </tr>
                  <tr>
                    <th width="30%">Salary Duration</th>
                    <td width="2%">:</td>
                    <td>salary_duration</td>
                  </tr>
                  <tr>
                    <th width="30%">Vacancy</th>
                    <td width="2%">:</td>
                    <td>vacancy</td>
                  </tr>
               
              </table>
            </div>
          </div>
          <div class="card shadow-sm">
            <div class="card-header bg-transparent border-0">
              <h3 class="mb-0"><i class="far fa-clone pr-1"></i>Additional Details</h3>
            </div>
            <div class="card-body pt-0">
              <table class="table table-bordered">
                <tr>
                  <th width="40%">Total Beds</th>
                  <td width="2%">:</td>
                  <td>total_Beds</td>
                </tr>
                <tr>
                    <th width="40%">ICU</th>
                    <td width="2%">:</td>
                    <td>icu</td>
                  </tr>
                  <tr>
                    <th width="40%">NICUC</th>
                    <td width="2%">:</td>
                    <td>nicuc</td>
                  </tr>
                  <tr>
                    <th width="40%">PICU</th>
                    <td width="2%">:</td>
                    <td>picu</td>
                  </tr>
                  <tr>
                    <th width="40%">HR Contact</th>
                    <td width="2%">:</td>
                    <td>hr_contact</td>
                  </tr>
                  <tr>
                    <th width="40%">Social Contact</th>
                    <td width="2%">:</td>
                    <td>social_contact</td>
                  </tr>
               
              </table>
            </div>
          </div>
      
        </div>



      </div>
    </div>
    
  </div>



  

